extends layout

block content
  h1= title
  br
  br
  br
  hr
  
  #carouselExampleCaptions.carousel.slide(data-bs-ride='carousel')
    .carousel-indicators
      button.active(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='1' aria-label='Slide 2')
      button(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide-to='2' aria-label='Slide 3')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='https://via.placeholder.com/300x100/09f/fff.png' alt='...')
        .carousel-caption.d-none.d-md-block
          h5 First slide label
          p Some representative placeholder content for the first slide.
      .carousel-item
        img.d-block.w-100(src='https://via.placeholder.com/300x100/09f/fff.png' alt='...')
        .carousel-caption.d-none.d-md-block
          h5 Second slide label
          p Some representative placeholder content for the second slide.
      .carousel-item
        img.d-block.w-100(src='https://via.placeholder.com/300x100/09f/fff.png' alt='...')
        .carousel-caption.d-none.d-md-block
          h5 Third slide label
          p Some representative placeholder content for the third slide.
    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselExampleCaptions' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next

  br
  br
  br
  br
  
  