doctype html
html
  head
    title= title
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href='/about-us') SEA OF CHOICES
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(aria-current='page' href='/') Home
            li.nav-item
              a.nav-link(href='/ships') Ships
            li.nav-item
              a.nav-link(href='/about-us') About Us
            li.nav-item
              a.nav-link(href='/store') Store
            li.nav-item 
              button.btn.btn-primary Login
            li.nav-item 
              button.btn.btn-success Sign Up
    
    block content 

    footer.bg-light.text-center.text-lg-start
      .container.p-4
        .row
          .col-lg-6.col-md-12.mb-4.mb-md-0
            h5.text-uppercase Footer Content
            p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              | molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              | voluptatem veniam, est atque cumque eum delectus sint!
          .col-lg-3.col-md-6.mb-4.mb-md-0
            h5.text-uppercase Links
            ul.list-unstyled.mb-0
              li
                a.text-dark(href='#!') Link 1
              li
                a.text-dark(href='#!') Link 2
              li
                a.text-dark(href='#!') Link 3
              li
                a.text-dark(href='#!') Link 4
          .col-lg-3.col-md-6.mb-4.mb-md-0
            h5.text-uppercase.mb-0 Links
            ul.list-unstyled
              li
                a.text-dark(href='#!') Link 1
              li
                a.text-dark(href='#!') Link 2
              li
                a.text-dark(href='#!') Link 3
              li
                a.text-dark(href='#!') Link 4
          .text-center.p-3(style='background-color: rgba(0, 0, 0, 0.2);')
            | © 2020 Copyright:
            a.text-dark(href='https://mdbootstrap.com/') MDBootstrap.com
      


    
      
    
  
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js' integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0' crossorigin='anonymous')