doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div Welcome to the best cruise agency!
      ul 
        li HOME 
        li SPECIAL OFFERS 
        li RIVER CRUISES 
        li STORE 
      ul  
      

    block content
